<h2>Create a New Entry: </h2>

<form action="/fitness_entries" method="post">
<label for="excersize_list">Excersize List: </label>
<input type="text" name="excersize_list" value="">
<input type="submit" name="" value="Create Entry">
</form>